*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(bg.jpg);
    background-color: rgba(0, 0, 0, 0.575);
    background-blend-mode: multiply;
    background-size: cover;
}

.form-control{
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-color: #ffc107;
}

.form-control:focus{
    background-color: rgba(255, 255, 255, 0.2);
    
}

label{
    color: #fff;
}



.form-control:focus {
    color: #212529;
    border-color: #ffc107;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}


.w-75 {
    width: 60%!important;
}


.d-flex {
    gap: 50px;
    display: flex!important;
}
@media (max-width:1020px){
    .w-75 {
        width: 80%!important;
    }
}


@media (max-width:375px) {
    .w-75 {
        width: 60%!important;
    }
}

@media (max-width:608px){
    .d-flex {
        gap: 0px;
        
    }
}